<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraper-engine by lukluk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">Scraper-engine</h1>
      <h2 class="project-tagline">Instant Build Scraper API</h2>

    </section>

    <section class="main-content">
 <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//scraper-engine.us12.list-manage.com/subscribe/post?u=55521b346c8a315f03b428b6e&amp;id=e9ef6f1006" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Send me scraper-engine tutorials</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55521b346c8a315f03b428b6e_e9ef6f1006" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Register" name="subscribe" id="mc-embedded-subscribe" class="button" style="background:#040"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
<h5>
<a id="author" class="anchor" href="#author" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Author</h5>

<h5>
<a id="luklukahagmailcom" class="anchor" href="#luklukahagmailcom" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a><a href="mailto:luklukaha@gmail.com">luklukaha@gmail.com</a>
</h5>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/lukluk/scraper-engine">Scraper-engine</a> is maintained by <a href="https://github.com/lukluk">lukluk</a>.</span>


      </footer>

    </section>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-73828591-1', 'auto');
		  ga('send', 'pageview');

		</script>
  
  </body>
</html>
